h1{
	font-size: 250%;
}

.new{
	font-weight: bold;
	color: red;
}

.comment{
	border-style: inset;
	font-style: italic;I
}

.content{
	border-style: outset;
	max-width: 900px;
}

.right{
	float:right;
}

.left{
	float: left;
}

